<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="fragments/header :: meta" th:remove="tag"></div>
<div th:replace="fragments/header :: generalCss" th:remove="tag"></div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<div th:replace="fragments/header :: appCss" th:remove="tag"></div>
<style>
.header-site {
	background-color: #000000;
	background: /* top, transparent red */ linear-gradient( rgba( 0, 0, 0,
		0.5), rgba( 0, 0, 0, 0.5)), url(/assets/img/pexels-photo.jpg);
	background-position: center center;
	background-size: 130%;
	height: 40vh;
	width: 100%;
	text-align: center;
	color: white;
}

.header-site h1 {
	padding-top: 12vh;
}

.border-left {
	border-left-style: solid;
	border-width: 1px;
	border-color: #666;
	height: 100vh;
}

body {
	background: #333;
	color:#fff;
	margin-top: 40px;
}

.modal, .modal-dialog{
color: black;
}

.messages {
	background:#fff;
	color:black;
	height:100vh;
	width:100%;
}
.nav-item{
	color:gray;
}
.nav-link:hover,.nav-item:hover{
	color:#aaa;
}
.nav-item .active{
	color:gray;
}
table{
width:100%;
margin:auto;
}
</style>
</head>
<body class="text-center">
	<!--  div th:replace="fragments/admin-fragments :: admin-nav" th:remove="tag"></div-->
	<h1>CDX Stridsjournal</h1>
	

	<div class="modal fade" id="newModal" tabindex="-1" role="dialog"
		aria-labelledby="add-tournament-modal-label" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ny Rapport</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/login}" method="post" id="loginForm"
						class="text-left">
						<div class="form-group">
							<div class="form-group">
								<label for="from">Fra</label> <select class="form-control"
									id="from">
									<option>TOC</option>
									<option>NOC</option>
									<option>EXCON</option>
									<option>RED CELL</option>

								</select>
							</div>

						</div>
						<div class="form-group">
							<div class="form-group">
								<label for="to">Til</label> <select class="form-control" id="to">
									<option>FELLES</option>
									<option>SOC1</option>
									<option>SOC2</option>
									<option>SOC3</option>
									<option>SOC4</option>
									<option>SOC5</option>
									<option>DropIn</option>
								</select>
							</div>

						</div>
						<div class="form-group">
							<label for="message">Hendelse</label>
							<textarea class="form-control" id="message" rows="5"></textarea>
						</div>

					</form>
					<div class="text-right">
						<button class="btn btn-primary" id="save">Lagre</button>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="FAB" id="fab-add">
		<div class="FAB__action-button">
			<i class="action-button__icon material-icons">add</i>
			<p class="action-button__text--hide">Add group</p>
		</div>
	</div>
	<div class="container-fluid">

		<div class="row">



			<div class="col-md-12" >

				<ul class="nav nav-tabs">
					<li class="nav-item "><a data-target="#all"
						class="nav-link active">Alle</a></li>
					<li class="nav-item"><a data-target="#felles" class="nav-link">Felles</a></li>
					<li class="nav-item"><a data-target="#soc1" class="nav-link">SOC
							1</a></li>
					<li class="nav-item"><a data-target="#soc2" class="nav-link">SOC
							2</a></li>
					<li class="nav-item"><a data-target="#soc3" class="nav-link">SOC
							3</a></li>
					<li class="nav-item"><a data-target="#soc4" class="nav-link">SOC
							4</a></li>
					<li class="nav-item"><a data-target="#soc5" class="nav-link">SOC
							5</a></li>
					<li class="nav-item"><a data-target="#soc6" class="nav-link">Drop
							In</a></li>
				</ul>
				<div class="messages" >

					<div class="msg-container table-responsive text-left" id="all">
						<table class="table  " 
							cellspacing="0" width="100%" id="msg-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="all_msg_body"></tbody>
						</table>

					</div>
					<div class="msg-container table-responsive text-left" id="felles">
					<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="felles_msg_body"></tbody>
						</table>
					
					
					</div>
					<div class="msg-container table-responsive text-left" id="soc1">
						<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="soc1_msg_body"></tbody>
						</table>
						
					</div>
					<div class="msg-container table-responsive text-left" id="soc2">
						<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="soc2_msg_body"></tbody>
						</table>
					</div>
					<div class="msg-container table-responsive text-left" id="soc3">
						<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="soc3_msg_body"></tbody>
						</table>
					</div>
					<div class="msg-container table-responsive text-left" id="soc4">
						<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="soc4_msg_body"></tbody>
						</table>
					</div>
					<div class="msg-container table-responsive text-left" id="soc5">
						<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="soc5_msg_body"></tbody>
						</table>
					</div>
					<div class="msg-container table-responsive text-left" id="soc6">
						<table class="table  "
							cellspacing="0" width="100%" id="postlist-table">
							<thead>
								<tr>
									<th>DTG</th>
									<th>FRA</th>
									<th>TIL</th>
									<th>MELDING</th>
								</tr>
							</thead>
							<tbody id="soc6_msg_body"></tbody>
						</table>
					</div>
				</div>

			</div>

		</div>
	</div>
	<div th:replace="fragments/javascript :: generalJs" th:remove="tag"></div>
	<div th:replace="fragments/javascript :: appJs" th:remove="tag"></div>

	<script>
		var date = null;
		var msg = [];
		
		function saveMessage(message) {
			$.ajax({
				url : "/api/message",
				type : "POST",
				data : JSON.stringify(message),
				contentType : "application/json; charset=utf-8",
				success : function(data) {
					$('#message').val("");
					$("#newModal").modal('hide');
				},
				error : function(textStatus, errorThrown) {
				}
			});
		}

		function getUrlMessages(date, cell) {
			var url = "/api/message?"
			if (date) {
				var dateString = moment(date).format('DD/MM/YYYY/HH:mm:ss');
				url += "after=" + dateString;
				
			}
			if (cell) {
				url += "to=" + cell;
			}
			
			return url;
		}

		function fetchMessages(url, callback) {
			date = new Date();
			$.ajax({
						url : url,
						type : "GET",
						contentType : "application/json; charset=utf-8",
						success : callback,
						error : function(textStatus, errorThrown) {
							alert("Error getting the data"
									+ JSON.stringify(textStatus));
						}
					});
		}

		function emptyTbody(){
			$('tbody').empty();
		}
		
		function updateAllMessages(data) {
			
			$(data).each(function(pos, item){
				if(!$.inArray(item.id, msg)){
				
					msg.push(item.id);
					
					$("#all_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');	
					if(item.sentTo=== "SOC1"){
						$("#soc1_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
					if(item.sentTo=== "FELLES"){
						$("#felles_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
					if(item.sentTo=== "SOC2"){
						$("#soc2_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
					if(item.sentTo=== "SOC3"){
						$("#soc3_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
					if(item.sentTo=== "SOC4"){
						$("#soc4_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
					if(item.sentTo=== "SOC5"){
						$("#soc5_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
					if(item.sentTo=== "DropIn"){
						$("#soc6_msg_body").prepend('<tr class="blink"><td>'+moment(item.savedAt).format('DDnovHHmmss')+'</td><td>'+item.sentBy+'</td><td>'+item.sentTo+'</td><td>'+item.message+'</td></tr>');
					}
				}
			})
			
		}
		
		$(document).ready(function() {
			
			
			$('.msg-container').hide();
			$('#all').show();
			$('#save').click(function() {
				var message = {};
				message.sentTo = $('#to').val();
				message.sentBy = $('#from').val();
				message.message = $('#message').val();
			
				saveMessage(message);

			})

			$('#fab-add').click(function() {
				onClickNewFab();
			})
			fetchMessages(getUrlMessages(date, null), updateAllMessages);
			window.setInterval(function(){
				fetchMessages(getUrlMessages(date, null), updateAllMessages);
			}, 3000);
			

		})

		$('a').click(function(e) {
			e.preventDefault();
			$('a').removeClass('active');
			$('.msg-container').hide();

			$($(this).attr('data-target')).show();
			$(this).addClass('active');
		});
		function onClickNewFab() {
			$("#newModal").modal();
		}
		
	
	</script>
</body>
</html>
